@model AppTemplate.Models.ApplicationPrivilege

@{
    ViewBag.Title = "Edit Privilege";
}




<section class="content-header">
    <h1>
        Edit Privilege
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Welcome"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/Privileges/Index"><i class="fa fa-unlock"></i> Privileges</a></li>
        <li class="active">Edit Privilege</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-primary">
        <div class="box-header with-border">
            @Html.ActionLink("Back to List", "Index")
            @*<div class="box-tools pull-right">
                    @using (Html.BeginForm())
                    {
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    }
                </div>*@
        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="box-body form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-4">
                        @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-4">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div><!-- /.box-footer -->
        }

    </div><!-- /.box -->
</section><!-- /.content -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



