@model AppTemplate.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    ViewBag.Name = "Password Change";
    //Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   <br />
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @*<div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
            </div>*@
    <div>
        <div class="col-3">
            <label>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control" } })

            </label>
        </div>
        <div class="col-3">
            <label>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control" } })

            </label>
        </div>
        <div class="col-3">
            <label>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })

            </label>
        </div>
        <div class="col-submit">
            <button type="submit" value="Change password">submit</button>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
