@model IEnumerable<AppTemplate.Models.RegisterViewModel>

@{
    ViewBag.Title = "Accounts";
    ViewBag.Name = "Account List.";
    ViewBag.TableId = "tblAccounts";
    ViewBag.DefualtSortingColumnIndex = 1;
}

@section scripts{

<script type="text/javascript">
    $(document).ready(function () {

        @{
            if(ViewBag.AccountMessage != null)
            {
                <text>bootbox.alert('@ViewBag.AccountMessage');</text>
                ViewBag.AccountMessage = null;
            }
        }

        @{
            if(TempData["Passchagemsg"] != null)
            {
                <text>bootbox.alert('@TempData["Passchagemsg"]');</text>
                TempData["Passchagemsg"] = null;
            }
        }
    });
</script>
    }

<section class="content-header">
    <h1>
        Account
        <small>List of AppTemplate accounts</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Welcome"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Accounts</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <a class="box-title" href="/Account/Register"><i class="fa fa-user text-primary"></i> Create New</a>
            @*<div class="box-tools pull-right">
                @using (Html.BeginForm())
                {
                    <div class="input-group" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                }
            </div>*@
        </div>
        <div class="box-body table-responsive no-padding">
            <script id="_table1" type="text/template">
                <table id="tblAccounts" class="table display dataTable" cellspacing="0" role="grid" width="100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                        int i = 1;
                        foreach (var item in Model)
                        {
                    <tr class="odd" role="row">
                        <td>@(i++)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                          
                                <a href="@Url.Action("Update", new { userName = item.Username })" title="Role">Edit roles</a> |

                           
                                <a href="@Url.Action("ChangePass_Admin", new { userName = item.Username })" title="Reset Pass">Reset password</a>

                            
                        </td>
                    </tr>
                        }
                        }
                    </tbody>
                </table>
                </script>



            @(Html.EJ().Grid<AppTemplate.Models.ApplicationPrivilege>("TableGrid")
                              .Datasource(ds =>
                              {
                                  ds.Table("#_table1");
                              })
                              .AllowPaging()
                              .AllowGrouping()
                              .AllowSorting()
                              .AllowFiltering()
                              .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
         .IsResponsive(true)
         .AllowReordering(true)
         .AllowResizeToFit(true)
         .EnableResponsiveRow(true)
         .AllowScrolling()
         .ScrollSettings(scroll => { scroll.Width(1000); })

          .Columns(col =>
          {
              col.Field("No").HeaderText("No.").Width(10).AllowFiltering(false).Add();
              col.Field("Username").HeaderText("Username").AllowFiltering(true).Width(50).Add();            
              col.Field("Action").HeaderText("").AllowFiltering(false).Add();

          })
            )

</div><!-- /.box-body -->
        <div class="box-footer">
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->