@model IEnumerable<AppTemplate.Models.RoleViewModel>

@{
    ViewBag.Title = "Roles";
    ViewBag.Name = "Roles List.";
    ViewBag.TableId = "tblRoles";
    ViewBag.DefualtSortingColumnIndex = 1;
}

 @section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            @{
                if (ViewBag.RoleMessage != null)
                {
                <text>bootbox.alert('@ViewBag.RoleMessage');</text>
                    ViewBag.RoleMessage = null;
                }
        }
        });
    </script>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script id="_table1" type="text/template">
    <table id="tblRoles" class="table display dataTable" cellspacing="0" role="grid" width="100%">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @{
          int i = 1;
          foreach (var item in Model)
          {
        <tr class="odd" role="row">
            <td>@(i++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { name = item.RoleName }) |
                    @Html.ActionLink("Delete", "Delete", new { name = item.RoleName })*@
                <span style="white-space : nowrap">
                    <a href="@Url.Action("Edit", new { name = item.RoleName })" title="EDIT"><i class="fa fa-edit text-primary"></i></a> |
                    <a href="@Url.Action("Delete", new { name = item.RoleName })" title="DELETE"><i class="fa fa-remove text-red"></i></a>
                </span>
            </td>
        </tr>
          }
            }
        </tbody>
    </table>
    </script>


    @(Html.EJ().Grid<AppTemplate.Models.ApplicationPrivilege>("TableGrid")
                              .Datasource(ds =>
                              {
                                  ds.Table("#_table1");
                              })
                              .AllowPaging()
                              .AllowGrouping()
                              .AllowSorting()
                              .AllowFiltering()
                              .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })

         .IsResponsive(true)
         .AllowReordering(true)
         .AllowResizeToFit(true)
         .EnableResponsiveRow(true)
         .AllowScrolling()
          .ScrollSettings(scroll => { scroll.Width(1000); })
           .AllowResizing()
          .Columns(col =>
          {
              col.Field("No").HeaderText("No.").Width(10).AllowFiltering(false).Add();
              col.Field("Role Name").HeaderText("Role Name").AllowFiltering(true).Width(50).Add();
              col.Field("Description").HeaderText("Description").AllowFiltering(false).Width(50).Add();
              col.Field("Action").HeaderText("").AllowFiltering(false).Add();

          })
    )
