@model IEnumerable<AppTemplateDAL.Models.Master.idealog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeesBO.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeesBO.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idea)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LogId })
        </td>
    </tr>
}

</table>
